<div class="grid">

  <nav>
    <ul class="list">
      <li><a routerLink="/home-component" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products-component" routerLinkActive="active">Produkte</a></li>
      <li><a routerLink="/sustainability-component" routerLinkActive="active">Nachhaltigkeit</a></li>
      <li><a routerLink="/contact-component" routerLinkActive="active">Kontakt</a></li>
    </ul>
  </nav>

    <img class="logo" src="assets/logo-black.png" alt="Logo Style Hub"/>

  <div class="right"></div>


</div>
