.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  align-items: center;
  padding-top: 1rem;
}

.logo {
  grid-column: 2;
  justify-self: center;
}

.list {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

li > :not(a.active) {
  text-decoration: none;
  color: black;
}


li > a.active {
  color: black;
}

