<button (click)="navToggele()" id="mobile-nav-toggle" class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
  <fa-icon *ngIf="!menuOpen" size="4x" [icon]="faBars"></fa-icon>
  <fa-icon *ngIf="menuOpen" size="4x" [icon]="faClose"></fa-icon>
  <span class="sr-only">Menü</span>
</button>
<div class="grid" [ngClass]="{'header-home': router.url === '/home-component', 'header-not-home': router.url !== '/home-component'}">

  <nav>
    <ul (click)="navToggele()"  id="primary-navigation" class="list primary-navigation" data-visible="false">
      <li class="logo-mobile-nav" *ngIf="menuOpen"><img src="assets/logo-black.png" alt="Logo Style Hub"/></li>
      <li><a routerLink="/home-component" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products-component" routerLinkActive="active">Produkte</a></li>
      <li><a routerLink="/sustainability-component" routerLinkActive="active">Nachhaltigkeit</a></li>
      <li><a routerLink="/contact-component" routerLinkActive="active">Kontakt</a></li>
    </ul>
  </nav>

    <img class="logo" src="assets/logo-black.png" alt="Logo Style Hub"/>

  <div class="right"></div>


</div>
