.flex {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.footer {
  padding: 3rem 0;
}

li > :not(a.active) {
  text-decoration: none;
  color: black;
}


li > a.active {
  color: black;
}
