.grid {
  display: grid;
  height: 100vh;
  place-items: center;
}

h1 {
  margin: 0;
}

.fancy-underline {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  place-self: center;
}

.hero {
  text-align: left;
  font-size: clamp(2rem, 17vw, 25rem);
}

.fancy-text {
  white-space: nowrap;
  padding-inline: 2rem;
  overflow: hidden;
}

.fancy-text-outline {
  color: white;
  -webkit-text-stroke: .03em black;
  white-space: nowrap;
  overflow: hidden;
}

#text-two {
  margin-left: -35%;
}

#text-three {
  margin-left: -5%;

}

#text-four {
  margin-left: -71%;
}

#text-five {
  margin-left: -10%;
}

.font-xxl {
  font-size: clamp(2rem, 14vw, 25rem);
}

.font-xl {
  font-size: clamp(2rem, 11vw, 25rem);
}

.font-l {
  font-size: clamp(2rem, 9vw, 25rem);

}

.font-m {
  font-size: clamp(2rem, 8vw, 25rem);
}

.font-s {
  font-size: clamp(2rem, 6vw, 25rem);
}

.fancy-lines > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-questions {
  display: flex;
  background-color: var(--color-primary);
  color: black;
  height: 100vh;
  place-items: center;
  place-content: center;
  font-size: clamp(2rem, 8vw, 25rem);
}
