<div class="grid">
  <h1 class="hero fancy-underline">{{typewriter_display }}<br>{{typewriter_displayy }}</h1>
</div>

<div class="fancy-lines">
  <h2 id="text-one" class="fancy-text-outline font-s">100% Bio-Baumwolle / 100% Bio-Baumwolle / 100% Bio-Baumwolle</h2>
  <h2 id="text-two" class="fancy-text font-xxl">Vegan / Vegan / Vegan</h2>
  <h2 id="text-three" class="fancy-text-outline font-m">Recycling / Recycling / Recycling</h2>
  <h2 id="text-four" class="fancy-text font-xl">CO2-Neutral / CO2-Neutral / CO2-Neutral</h2>
  <h2 id="text-five" class="fancy-text-outline font-l">Faire Bezahlung / Faire Bezahlung / Faire Bezahlung</h2>
</div>

<div class="section-questions">
  <h1>Noch<br>Fragen?</h1>
</div>
<app-contact></app-contact>
