.contact {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
}

.hidden {
  display: none
}

.visible {
  display: block
}

button {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding: 5%;
  transition: 0.4s;
  width: 75%;
  margin: auto;
  margin-top: 5%;
}

button:hover:enabled {
  color: white;
  background-color: black;
}

input, textarea {
  padding: 2.5%;
  resize: none;
}

.item {
  padding: 2%;
}
