.contact {
  display: grid;
  margin-inline: 2rem;
  gap: 2rem;
  margin-top: 2rem;
}

.contact-form {
  display: grid;
  align-items: center;
  height: 100vh;
}

#submit-button {
  justify-self: center;
  align-self: end;
}

@media (min-width: 700px) {
  .contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-inline: 10rem;
  }

  #message-field {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  #submit-button {
    grid-row: 4;
    grid-column: 1 / span 2;
  }
}

.hidden {
  display: none
}

.visible {
  display: block
}

input, textarea {
  resize: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

input {
  border: var(--color-primary) .15em solid;
  border-radius: .3em;
  padding: 1rem 1rem;
  font-size: 1rem;
}

.message-field {
  min-height: 5rem;
  padding: 1rem 1rem;
  border: .15em solid var(--color-primary);
  border-radius: .3em;
  font-size: 1rem;
}

.ng-valid[required], .ng-valid.required.ng-dirty  {
  border: .15em solid var(--color-primary); /* green */
}

.ng-invalid:not(form).ng-dirty  {
  border: .15em solid #a94442; /* red */
}
