<p><strong>Datenschutzerkl&auml;rung</strong></p> <p><strong>Verantwortlicher f&uuml;r die Datenverarbeitung
  ist:</strong><br/> Space Studios UG (haftungsbeschränkt)<br/> Wullenbuschkoppel 2<br/> Hamburg<br/> <br/>
  info@space-studios.de</p> <p>Wir freuen uns über Ihr Interesse an unserem Online-Shop. Der Schutz Ihrer Privatsphäre
  ist für uns sehr wichtig. Nachstehend informieren wir Sie ausführlich über den Umgang mit Ihren Daten.<br></p> <h2>1.&nbsp;Zugriffsdaten
  und Hosting</h2> <p>Sie können unsere Webseiten besuchen, ohne Angaben zu Ihrer Person zu machen. Bei jedem Aufruf
  einer Webseite speichert der Webserver lediglich automatisch ein sogenanntes Server-Logfile, das z.B. den Namen der
  angeforderten Datei, Ihre IP-Adresse, Datum und Uhrzeit des Abrufs, übertragene Datenmenge und den anfragenden
  Provider (Zugriffsdaten) enthält und den Abruf dokumentiert. Diese Zugriffsdaten werden ausschließlich zum Zwecke der
  Sicherstellung eines störungsfreien Betriebs der Seite sowie der Verbesserung unseres Angebots ausgewertet. Dies dient
  der Wahrung unserer im Rahmen einer Interessensabwägung überwiegenden berechtigten Interessen an einer korrekten
  Darstellung unseres Angebots gemäß Art. 6 Abs. 1 S. 1 lit. f DSGVO. Alle Zugriffsdaten werden spätestens sieben Tage
  nach Ende Ihres Seitenbesuchs gelöscht.</p> <h3>&nbsp;Hosting</h3> <p>Die Dienste zum Hosting und zur Darstellung der
  Webseite werden teilweise durch unsere Dienstleister im Rahmen einer Verarbeitung in unserem Auftrag erbracht. Soweit
  im Rahmen der vorliegenden Datenschutzerklärung nichts anderes erläutert wird, werden alle Zugriffsdaten sowie alle
  Daten, die in dafür vorgesehenen Formularen auf dieser Webseite erhoben werden, auf ihren Servern verarbeitet. Bei
  Fragen zu unseren Dienstleistern und der Grundlage unserer Zusammenarbeit mit ihnen wenden Sie sich bitte an die in
  dieser Datenschutzerklärung beschriebenen Kontaktmöglichkeit.</p> <p>Unsere Dienstleister sitzen und/oder verwenden
  Server in folgenden L&auml;ndern, f&uuml;r die die Europ&auml;ische Kommission durch Beschluss ein angemessenes
  Datenschutzniveau festgestellt hat: Kanada</p> <p>Unsere Dienstleister sitzen und/oder verwenden Server in den USA und
  in weiteren L&auml;ndern au&szlig;erhalb der EU und des EWR. F&uuml;r diese L&auml;nder liegt kein
  Angemessenheitsbeschluss der Europ&auml;ischen Kommission vor. Unsere Zusammenarbeit mit ihnen st&uuml;tzt sich auf
  Standarddatenschutzklauseln der Europ&auml;ischen Kommission.&nbsp;</p> <h2>2.&nbsp;Datenverarbeitung zur
  Vertragsabwicklung und zur Kontaktaufnahme </h2> <h3>2.1&nbsp;Datenverarbeitung zur Vertragsabwicklung </h3> <p>Wir
  erheben personenbezogene Daten, wenn Sie uns diese im Rahmen Ihrer Bestellung oder bei einer Kontaktaufnahme mit uns
  (z.B. per Kontaktformular oder E-Mail) freiwillig mitteilen. Pflichtfelder werden als solche gekennzeichnet, da wir in
  diesen Fällen die Daten zwingend zur Vertragsabwicklung, bzw. zur Bearbeitung Ihrer Kontaktaufnahme benötigen und Sie
  ohne deren Angabe die Bestellung nicht abschließen, bzw. die Kontaktaufnahme nicht versenden können. Welche Daten
  erhoben werden, ist aus den jeweiligen Eingabeformularen ersichtlich.<br> Wir verwenden die von ihnen mitgeteilten
  Daten zur Vertragsabwicklung und Bearbeitung Ihrer Anfragen (inkl. Anfragen zu und Abwicklung von ggf. bestehenden
  Gewährleistungs- und Leistungsstörungsansprüchen sowie etwaiger gesetzlicher Aktualisierungspflichten) gemäß Art. 6
  Abs. 1 S. 1 lit. b DSGVO. Weitere Informationen zu der Verarbeitung Ihrer Daten, insbesondere zu der Weitergabe an
  unsere Dienstleister zum Zwecke der Bestellungs-, Zahlungs- und Versandabwicklung, finden Sie in den nachfolgenden
  Abschnitten dieser Datenschutzerklärung. Nach vollständiger Abwicklung des Vertrages werden Ihre Daten für die weitere
  Verarbeitung eingeschränkt und nach Ablauf etwaiger steuer- und handelsrechtlichen Aufbewahrungsfristen gemäß Art. 6
  Abs. 1 S. 1 lit. c DSGVO gelöscht, sofern Sie nicht ausdrücklich in eine weitere Nutzung Ihrer Daten gemäß Art. 6 Abs.
  1 S. 1 lit. a DSGVO eingewilligt haben oder wir uns eine darüber hinausgehende Datenverwendung vorbehalten, die
  gesetzlich erlaubt ist und über die wir Sie in dieser Erklärung informieren.</p>  <h3>2.2&nbsp;Kontaktaufnahme </h3>
<p>Im Rahmen der Kundenkommunikation erheben wir zur Bearbeitung Ihrer Anfragen gemäß Art. 6 Abs. 1 S. 1 lit. b DSGVO
  personenbezogene Daten, wenn Sie uns diese bei einer Kontaktaufnahme mit uns (z.B. per Kontaktformular oder E-Mail)
  freiwillig mitteilen. Pflichtfelder werden als solche gekennzeichnet, da wir in diesen Fällen die Daten zwingend zur
  Bearbeitung Ihrer Kontaktaufnahme benötigen. Welche Daten erhoben werden, ist aus den jeweiligen Eingabeformularen
  ersichtlich. Nach vollständiger Bearbeitung Ihrer Anfrage werden Ihre Daten gelöscht, sofern Sie nicht ausdrücklich in
  eine weitere Nutzung Ihrer Daten gemäß Art. 6 Abs. 1 S. 1 lit. a DSGVO eingewilligt haben oder wir uns eine darüber
  hinausgehende Datenverwendung vorbehalten, die gesetzlich erlaubt ist und über die wir Sie in dieser Erklärung
  informieren.</p>  <h2>3.&nbsp;Datenverarbeitung zum Zwecke der Versandabwicklung </h2>  <p>Zur Vertragserfüllung gemäß
  Art. 6 Abs. 1 S. 1 lit. b DSGVO geben wir Ihre Daten an den mit der Lieferung beauftragten Versanddienstleister
  weiter, soweit dies zur Lieferung bestellter Waren erforderlich ist.<br></p>   <p>Entsprechendes gilt für die
  Datenweitergabe an unsere Hersteller bzw. Großhändler in den Fällen, in denen sie den Versand für uns übernehmen
  (Streckengeschäft). Diese gelten als Versanddienstleister im Sinne der vorliegenden Datenschutzerklärung.</p>  <p>
  Unsere Dienstleister sitzen und/oder verwenden Server in diesen L&auml;ndern: Indien<br/> F&uuml;r diese L&auml;nder
  liegt kein Angemessenheitsbeschluss der Europ&auml;ischen Kommission vor. Unsere Zusammenarbeit mit Ihnen st&uuml;tzt
  sich auf diese Garantien:&nbsp;Standarddatenschutzklauseln der Europäischen Kommission, Standarddatenschutzklauseln
  einer Aufsichtsbehörde</p> <h3>&nbsp;Datenweitergabe an Versanddienstleister zum Zwecke der Versandankündigung </h3>
<p>Sofern Sie uns hierzu während oder nach Ihrer Bestellung Ihre ausdrückliche Einwilligung erteilt haben, geben wir
  aufgrund dieser gemäß Art. 6 Abs. 1 S. 1 lit. a DSGVO Ihre E-Mail-Adresse und Telefonnummer an den ausgewählten
  Versanddienstleister weiter, damit dieser vor Zustellung zum Zwecke der Lieferungsankündigung bzw. -abstimmung Kontakt
  mit Ihnen aufnehmen kann.<br> Die Einwilligung kann jederzeit durch eine Nachricht an die in dieser
  Datenschutzerklärung beschriebene Kontaktmöglichkeit oder direkt gegenüber dem Versanddienstleister unter im Folgenden
  aufgeführten Kontaktadresse widerrufen werden. Nach Widerruf löschen wir Ihre hierfür angegebenen Daten, soweit Sie
  nicht ausdrücklich in eine weitere Nutzung Ihrer Daten eingewilligt haben oder wir uns eine darüber hinausgehende
  Datenverwendung vorbehalten, die gesetzlich erlaubt ist und über die wir Sie in dieser Erklärung informieren.</p>
<p>DHL Paket GmbH<br>Sträßchensweg 10<br>53113 Bonn<br>Deutschland</p>  <h2>4.&nbsp;Datenverarbeitung zur
  Zahlungsabwicklung </h2>  <p>Bei der Abwicklung von Zahlungen in unserem Online-Shop arbeiten wir mit diesen Partnern
  zusammen: technische Dienstleister, Kreditinstitute, Zahlungsdienstleister.</p>  <h3>4.1&nbsp;Datenverarbeitung zur
  Transaktionsabwicklung </h3>  <p>Je nach ausgewählter Zahlungsart geben wir die für die Abwicklung der
  Zahlungstransaktion notwendigen Daten an unsere technischen Dienstleister, die im Rahmen einer Auftragsverarbeitung
  für uns tätig sind, oder an die beauftragten Kreditinstitute oder an den ausgewählten Zahlungsdienstleister weiter,
  soweit dies zur Abwicklung der Zahlung erforderlich ist. Dies dient der Vertragserfüllung gemäß Art. 6 Abs. 1 S. 1
  lit. b DSGVO. Zum Teil erheben die Zahlungsdienstleister die für die Abwicklung der Zahlung erforderlichen Daten
  selbst, z.B. auf ihrer eigenen Webseite oder über eine technische Einbindung im Bestellprozess. Es gilt insoweit die
  Datenschutzerklärung des jeweiligen Zahlungsdienstleisters.<br> Bei Fragen zu unseren Partnern für die
  Zahlungsabwicklung und der Grundlage unserer Zusammenarbeit mit ihnen wenden Sie sich bitte an die in dieser
  Datenschutzerklärung beschriebenen Kontaktmöglichkeit.</p>  <h3>4.2&nbsp;Datenverarbeitung zum Zwecke der
  Betrugsprävention und der Optimierung unserer Zahlungsprozesse </h3>  <p>Gegebenenfalls geben wir unseren
  Dienstleistern weitere Daten, die sie zusammen mit den für die Abwicklung der Zahlung notwendigen Daten als unsere
  Auftragsverarbeiter zum Zwecke der Betrugsprävention und der Optimierung unserer Zahlungsprozesse (z.B.
  Rechnungsstellung, Abwicklung von angefochtenen Zahlungen, Unterstützung der Buchhaltung) verwenden. Dies dient gemäß
  Art. 6 Abs. 1 S. 1 lit. f DSGVO der Wahrung unserer im Rahmen einer Interessensabwägung überwiegenden berechtigten
  Interessen an unserer Absicherung gegen Betrug bzw. an einem effizienten Zahlungsmanagement.</p>  <h2>5.&nbsp;Werbung
  per E-Mail</h2> <h3>5.1&nbsp;E-Mail-Newsletter mit Anmeldung </h3>  <p>Wenn Sie sich zu unserem Newsletter anmelden,
  verwenden wir die hierfür erforderlichen oder gesondert von Ihnen mitgeteilten Daten, um Ihnen regelmäßig unseren
  E-Mail-Newsletter aufgrund Ihrer Einwilligung gemäß Art. 6 Abs. 1 S. 1 lit. a DSGVO zuzusenden. Die Abmeldung vom
  Newsletter ist jederzeit möglich und kann entweder durch eine Nachricht an die unten beschriebene Kontaktmöglichkeit
  oder über einen dafür vorgesehenen Link im Newsletter erfolgen. Nach Abmeldung l&ouml;schen wir Ihre E-Mail-Adresse
  aus der Empf&auml;ngerliste, soweit Sie nicht ausdr&uuml;cklich in eine weitere Nutzung Ihrer Daten gem&auml;&szlig;
  Art. 6 Abs. 1 S. 1 lit. a DSGVO eingewilligt haben oder wir uns eine dar&uuml;ber hinausgehende Datenverwendung
  vorbehalten, die gesetzlich erlaubt ist und &uuml;ber die wir Sie in dieser Erkl&auml;rung informieren. </p><h3>5.2&nbsp;E-Mail-Newsletter
  ohne Anmeldung und Ihr Widerspruchsrecht </h3>  <p>Wenn wir Ihre E-Mail-Adresse im Zusammenhang mit dem Verkauf einer
  Ware oder Dienstleistung erhalten und Sie dem nicht widersprochen haben, behalten wir uns vor, Ihnen auf Grundlage von
  § 7 Abs. 3 UWG regelmäßig Angebote zu ähnlichen Produkten, wie den bereits gekauften, aus unserem Sortiment per E-Mail
  zuzusenden. Dies dient der Wahrung unserer im Rahmen einer Interessensabwägung überwiegenden berechtigten Interessen
  an einer werblichen Ansprache unserer Kunden.<br> Sie können dieser Verwendung Ihrer E-Mail-Adresse jederzeit durch
  eine Nachricht an die in dieser Datenschutzerklärung beschriebene Kontaktmöglichkeit oder über einen dafür
  vorgesehenen Link in der Werbemail widersprechen, ohne dass hierfür andere als die Übermittlungskosten nach den
  Basistarifen entstehen.<br> Nach Abmeldung löschen wir Ihre E-Mail-Adresse aus der Empfängerliste, soweit Sie nicht
  ausdrücklich in eine weitere Nutzung Ihrer Daten gemäß Art. 6 Abs. 1 S. 1 lit. a DSGVO eingewilligt haben oder wir uns
  eine darüber hinausgehende Datenverwendung vorbehalten, die gesetzlich erlaubt ist und über die wir Sie in dieser
  Erklärung informieren.</p>  <h3>5.3&nbsp;Newsletterversand </h3> <p>Der Newsletter wird gegebenenfalls auch durch
  unsere Dienstleister im Rahmen einer Verarbeitung in unserem Auftrag versendet. Bei Fragen zu unseren Dienstleistern
  und der Grundlage unserer Zusammenarbeit mit ihnen wenden Sie sich bitte an die in dieser Datenschutzerkl&auml;rung
  beschriebenen Kontaktm&ouml;glichkeit.</p>  <p>Unsere Dienstleister sitzen und/oder verwenden Server in den USA und in
  weiteren L&auml;ndern au&szlig;erhalb der EU und des EWR. F&uuml;r diese L&auml;nder liegt kein
  Angemessenheitsbeschluss der Europ&auml;ischen Kommission vor. Unsere Zusammenarbeit mit ihnen st&uuml;tzt sich auf
  Standarddatenschutzklauseln der Europ&auml;ischen Kommission.&nbsp;</p>  <h3>5.4&nbsp;Versand von Bewertungsbitten per
  E-Mail </h3> <p>Sofern Sie uns hierzu während oder nach Ihrer Bestellung Ihre ausdrückliche Einwilligung gemäß Art. 6
  Abs. 1 S. 1 lit. a DSGVO erteilt haben, verwenden wir Ihre E-Mail-Adresse für die Bitte zur Abgabe einer Bewertung
  Ihrer Bestellung über das von uns eingesetzte Bewertungssystem. Diese Einwilligung kann jederzeit durch eine Nachricht
  an die in dieser Datenschutzerklärung beschriebene Kontaktmöglichkeit oder über einen dafür vorgesehenen Link in der
  Bewertungsbitte widerrufen werden.</p> <p>Die Bewertungsbitten werden gegebenenfalls auch durch unsere Dienstleister
  im Rahmen einer Verarbeitung in unserem Auftrag versendet. Bei Fragen zu unseren Dienstleistern und der Grundlage
  unserer Zusammenarbeit mit ihnen wenden Sie sich bitte an die in dieser Datenschutzerklärung beschriebenen
  Kontaktmöglichkeit.</p> <h2>6.&nbsp;Cookies und weitere Technologien</h2> <h3>6.1&nbsp;Allgemeine Informationen</h3>
<p>Um den Besuch unserer Webseite attraktiv zu gestalten und die Nutzung bestimmter Funktionen zu erm&ouml;glichen,
  verwenden wir auf verschiedenen Seiten Technologien einschlie&szlig;lich sogenannter Cookies. Cookies sind kleine
  Textdateien, die automatisch auf Ihrem Endger&auml;t gespeichert werden. Einige der von uns verwendeten Cookies werden
  nach Ende der Browser-Sitzung, also nach Schlie&szlig;en Ihres Browsers, wieder gel&ouml;scht (sog. Sitzungs-Cookies).
  Andere Cookies verbleiben auf Ihrem Endger&auml;t und erm&ouml;glichen uns, Ihren Browser beim n&auml;chsten Besuch
  wiederzuerkennen (persistente Cookies).<br/> Wir verwenden solche Technologien, die f&uuml;r die Nutzung bestimmter
  Funktionen unserer Webseite (z.B. Warenkorbfunktion) zwingend erforderlich sind. Durch diese Technologien werden
  IP-Adresse, Zeitpunkt des Besuchs, Ger&auml;te- und Browser-Informationen sowie Informationen zu Ihrer Nutzung unserer
  Webseite (z. B. Informationen zum Inhalt des Warenkorbs) erhoben und verarbeitet. Dies dient im Rahmen einer
  Interessensabw&auml;gung &uuml;berwiegenden berechtigten Interessen an einer optimierten Darstellung unseres Angebots
  gem&auml;&szlig; Art. 6 Abs. 1 S. 1 lit. f DSGVO. </p> <p>Zudem verwenden wir Technologien zur Erf&uuml;llung der
  rechtlichen Verpflichtungen, denen wir unterliegen (z.B. um Einwilligungen in die Verarbeitung Ihrer personenbezogenen
  Daten nachweisen zu k&ouml;nnen) sowie zu Webanalyse und Online-Marketing. Weitere Informationen hierzu einschlie&szlig;lich
  der jeweiligen Rechtsgrundlage f&uuml;r die Datenverarbeitung finden Sie in den nachfolgenden Abschnitten dieser
  Datenschutzerkl&auml;rung. Gegebenenfalls verwenden wir dar&uuml;ber hinaus Technologien, die in dieser
  Datenschutzerkl&auml;rung nicht einzeln aufgelistet sind. N&auml;here Informationen zu diesen Technologien einschlie&szlig;lich
  der jeweiligen Rechtsgrundlage f&uuml;r die Datenverarbeitung finden Sie auf der Usercentrics Plattform. Diese
  erreichen Sie, indem Sie auf die Fingerabdruck-Schaltfläche in der rechten bzw. linken unteren Ecke der Seite
  klicken. </p><p>Die Cookie-Einstellungen f&uuml;r Ihren Browser finden Sie unter den folgenden Links: <a
  href="https://support.microsoft.com/de-de/help/4027947/microsoft-edge-delete-cookies" target="_blank">Microsoft Edge&trade;</a>
  / <a href="https://support.apple.com/de-de/guide/safari/sfri11471/12.0/mac/10.14" target="_blank">Safari&trade;</a> /
  <a href="https://support.google.com/chrome/answer/95647?hl=de&amp;hlrm=en" target="_blank">Chrome&trade;</a> / <a
    href="https://support.mozilla.org/de/products/firefox/protect-your-privacy/cookies"
    target="_blank">Firefox&trade;</a> / <a href="https://help.opera.com/de/latest/web-preferences/#cookies"
                                            target="_blank">Opera&trade;</a></p><p>Soweit Sie in die Verwendung der
  Technologien gem&auml;&szlig; Art. 6 Abs. 1 S. 1 lit. a DSGVO eingewilligt haben, k&ouml;nnen Sie Ihre Einwilligung
  jederzeit widerrufen durch eine Nachricht an die in der Datenschutzerkl&auml;rung beschriebenen Kontaktm&ouml;glichkeit.
  Alternativ können Sie auf die Fingerabdruck-Schaltfläche in der rechten bzw. linken unteren Ecke der Seite klicken.
  Bei der Nichtannahme von Cookies kann die Funktionalität unserer Webseite eingeschränkt sein. </p><h3>6.2&nbsp;Einsatz
  von Usercentrics Consent Management Plattform zur Verwaltung von Einwilligungen</h3> <p>Auf unserer Webseite setzen
  wir die <a href="https://usercentrics.com/de/" target="_blank">Usercentrics Consent Management Plattform</a> (&bdquo;Usercentrics&ldquo;)
  ein, um Sie &uuml;ber die Cookies und die anderen Technologien zu informieren, die wir auf unserer Webseite verwenden,
  sowie Ihre gegebenenfalls gesetzlich erforderliche Einwilligung in die Verarbeitung Ihrer personenbezogenen Daten
  durch diese Technologien einzuholen, zu verwalten und zu dokumentieren. Dies ist gem&auml;&szlig; Art. 6 Abs. 1 S. 1
  lit. c DSGVO zur Erf&uuml;llung unserer rechtlichen Verpflichtung gem&auml;&szlig; Art. 7 Abs. 1 DSGVO erforderlich,
  Ihre Einwilligung in die Verarbeitung Ihrer personenbezogenen Daten nachweisen zu k&ouml;nnen, der wir unterliegen.
  Usercentrics ist ein Angebot der Usercentrics GmbH, Sendlinger Stra&szlig;e 7, 80331 M&uuml;nchen, Deutschland die in
  unserem Auftrag Ihre Daten verarbeitet. Bei Besuch unserer Webseite speichert der Webserver von Usersentrics ein
  sogenanntes Server-Logfile, das auch Ihre anonymisierte IP-Adresse, Datum und Uhrzeit des Besuchs, Ger&auml;te- und
  Browser-Informationen sowie Informationen zu Ihrem Einwilligungsverhalten enth&auml;lt. Ihre Daten werden nach drei
  Jahren gel&ouml;scht, sofern Sie nicht ausdr&uuml;cklich in eine weitere Nutzung Ihrer Daten gem&auml;&szlig; Art. 6
  Abs. 1 S. 1 lit. a DSGVO eingewilligt haben oder wir uns eine dar&uuml;ber hinausgehende Datenverwendung vorbehalten,
  die gesetzlich erlaubt ist und &uuml;ber die wir Sie in dieser Erkl&auml;rung informieren.</p> <h2>7.&nbsp;Einsatz von
  Cookies und anderen Technologien zu Webanalyse und Werbezwecken</h2> <p>Soweit Sie hierzu Ihre Einwilligung nach Art.
  6 Abs. 1 S. 1 lit. a DSGVO erteilt haben, verwenden wir auf unserer Webseite die nachfolgenden Cookies und andere
  Technologien von Drittanbietern. Nach Zweckfortfall und Ende des Einsatzes der jeweiligen Technologie durch uns werden
  die in diesem Zusammenhang erhobenen Daten gel&ouml;scht. Sie k&ouml;nnen Ihre Einwilligung jederzeit mit Wirkung f&uuml;r
  die Zukunft widerrufen. Weitere Informationen zu Ihren Widerrufsm&ouml;glichkeiten finden Sie in dem Abschnitt &quot;Cookies
  und weitere Technologien&quot;. Weitere Informationen einschlie&szlig;lich der Grundlage unserer Zusammenarbeit mit
  den einzelnen Anbietern finden Sie bei den einzelnen Technologien. Bei Fragen zu den Anbietern und der Grundlage
  unserer Zusammenarbeit mit ihnen wenden Sie sich bitte an die in dieser Datenschutzerkl&auml;rung beschriebenen
  Kontaktm&ouml;glichkeit.</p> <h3>7.1&nbsp;Einsatz von Google-Diensten zu Webanalyse und Werbezwecken </h3> <p>Wir
  verwenden die nachfolgend dargestellten Technologien der Google Ireland Ltd., Gordon House, Barrow Street, Dublin 4,
  Irland (&bdquo;Google&ldquo;). Die durch die Google Technologien automatisch erhobenen Informationen &uuml;ber Ihre
  Nutzung unserer Webseite werden in der Regel an einen Server der Google LLC, 1600 Amphitheatre Parkway Mountain View,
  CA 94043, USA &uuml;bertragen und dort gespeichert. F&uuml;r die USA liegt kein Angemessenheitsbeschluss der Europ&auml;ischen
  Kommission vor. Unsere Zusammenarbeit mit ihnen st&uuml;tzt sich auf Standarddatenschutzklauseln der Europ&auml;ischen
  Kommission.&nbsp; Sofern Ihre IP-Adresse &uuml;ber die Google Technologien erhoben wird, wird sie vor der Speicherung
  auf den Servern von Google durch die Aktivierung der IP-Anonymisierung gek&uuml;rzt. Nur in Ausnahmef&auml;llen wird
  die volle IP-Adresse an einen Server von Google &uuml;bertragen und dort gek&uuml;rzt. Soweit bei den einzelnen
  Technologien nichts Abweichendes angeben ist, erfolgt die Datenverarbeitung auf Grundlage einer f&uuml;r die jeweilige
  Technologie geschlossenen Vereinbarung zwischen gemeinsam Verantwortlichen gem&auml;&szlig; Art. 26 DSGVO.
  Weitergehende Informationen &uuml;ber die Datenverarbeitung durch Google finden Sie in den <a
    href="https://policies.google.com/privacy?hl=de" target="_blank">Datenschutzhinweisen von Google</a>.</p> <h4>&nbsp;Google
  Analytics</h4> <p>Zum Zweck der Webseitenanalyse werden mit Google Analytics Daten (IP-Adresse, Zeitpunkt des Besuchs,
  Ger&auml;te- und Browser-Informationen sowie Informationen zu Ihrer Nutzung unserer Webseite) automatisch erhoben und
  gespeichert, aus denen unter Verwendung von Pseudonymen Nutzungsprofile erstellt werden. Hierzu k&ouml;nnen Cookies
  eingesetzt werden. Ihre IP-Adresse wird grunds&auml;tzlich nicht mit anderen Daten von Google zusammengef&uuml;hrt.
  Die Datenverarbeitung erfolgt auf Grundlage einer Vereinbarung &uuml;ber die Auftragsverarbeitung durch Google.</p>
<h4>&nbsp;Google reCAPTCHA </h4>  <p>Zum Zwecke des Schutzes vor Missbrauch unserer Web-Formulare sowie vor Spam durch
  automatisierte Software (sog. Bots) erhebt Google reCAPTCHA Daten (IP-Adresse, Zeitpunkt des Besuchs,
  Browser-Informationen sowie Informationen zu Ihrer Nutzung unserer Webseite) und führt mittels eines sog. JavaScript
  sowie Cookies eine Analyse Ihrer Nutzung unserer Webseite durch. Daneben werden andere, durch Google Dienste in Ihrem
  Browser gespeicherte Cookies ausgewertet. Ein Auslesen oder Speichern von personenbezogenen Daten aus den
  Eingabefeldern des jeweiligen Formulars findet nicht statt.</p>  <h4>&nbsp;Google Fonts </h4>  <p>Zur einheitlichen
  Darstellung der Inhalte auf unserer Webseite werden durch den Script Code „Google Fonts“ Daten (IP-Adresse, Zeitpunkt
  des Besuchs, Geräte- und Browser-Informationen) erhoben, an Google übermittelt und anschließend von Google
  verarbeitet. Wir haben keinen Einfluss auf diese anschließende Datenverarbeitung.</p>  <h3>7.2&nbsp;Einsatz von
  Facebook-Diensten zu Webanalyse und Werbezwecken </h3> <h4>&nbsp;Einsatz von Facebook Pixel </h4> <p>Wir verwenden das
  Facebook Pixel im Rahmen der nachfolgend dargestellten Technologien der <a
    href="http://de-de.facebook.com/facebookdublin/" target="_blank">Meta Platforms Ireland Ltd.</a>, 4 Grand Canal
  Square, Dublin 2, Irland (&bdquo;Facebook (by Meta)&ldquo; bzw. &ldquo;Meta Platforms Ireland&ldquo;). Mit dem
  Facebook Pixel werden Daten (IP-Adresse, Zeitpunkt des Besuchs, Ger&auml;te- und Browser-Informationen sowie
  Informationen zu Ihrer Nutzung unserer Webseite anhand von uns vorgegebenen Ereignissen wie z.B. Besuch einer Webseite
  oder Newsletteranmeldung) automatisch erhoben und gespeichert, aus denen unter Verwendung von Pseudonymen
  Nutzungsprofile erstellt werden. Hierzu wird bei Besuch unserer Webseite durch das Facebook Pixel automatisch ein
  Cookie gesetzt, das automatisch mittels einer pseudonymen CookieID eine Wiedererkennung Ihres Browsers beim Besuch
  anderer Webseiten erm&ouml;glicht. Facebook (by Meta) wird diese Informationen mit weiteren Daten aus Ihrem
  Facebook-Konto zusammenf&uuml;hren und benutzen, um Reports &uuml;ber die Webseitenaktivit&auml;ten zusammenzustellen
  und um weitere mit der Webseitennutzung verbundene Dienstleistungen, insbesondere personalisierte und gruppenbasierte
  Werbung zu erbringen.<br/> Die durch die Facebook (by Meta) Technologien automatisch erhobenen Informationen &uuml;ber
  Ihre Nutzung unserer Webseite werden in der Regel an einen Server der Meta Platforms, Inc., 1 Hacker Way, Menlo Park,
  California 94025, USA &uuml;bertragen und dort gespeichert. F&uuml;r die USA liegt kein Angemessenheitsbeschluss der
  Europ&auml;ischen Kommission vor. Sofern die Daten&uuml;bermittlung in die USA in unsere Verantwortlichkeit f&auml;llt,
  st&uuml;tzt sich unsere Kooperation auf Standarddatenschutzklauseln der Europ&auml;ischen Kommission. Weitergehende
  Informationen &uuml;ber die Datenverarbeitung durch Facebook finden Sie in den Datenschutzhinweisen von <a
    href="http://de-de.facebook.com/policy.php" target="_blank">Facebook (by Meta)</a>. </p><h4>&nbsp;Facebook
  Analytics </h4> <p>Im Rahmen von Facebook Analytics werden aus den mit dem Facebook Pixel erhobenen Daten &uuml;ber
  Ihre Nutzung unserer Webseite Statistiken &uuml;ber Besucheraktivit&auml;ten auf unserer Webseite erstellt. Die
  Datenverarbeitung erfolgt auf Grundlage einer Vereinbarung &uuml;ber die Auftragsverarbeitung durch Facebook (by
  Meta). Ihre Analyse dient der optimalen Darstellung und Vermarktung unserer Webseite. </p> <h4>&nbsp;Facebook Ads</h4>
<p>&Uuml;ber Facebook Ads werben wir f&uuml;r diese Website auf Facebook (by Meta) sowie auf anderen Plattformen. Wir
  bestimmen die Parameter der jeweiligen Werbekampagne. F&uuml;r die genaue Umsetzung, insbesondere die Entscheidung
  &uuml;ber die Platzierung der Anzeigen bei einzelnen Nutzern, ist Facebook (by Meta) verantwortlich. Soweit bei den
  einzelnen Technologien nichts Abweichendes angeben ist, erfolgt die Datenverarbeitung auf Grundlage einer Vereinbarung
  zwischen gemeinsam Verantwortlichen gem&auml;&szlig; Art. 26 DSGVO. Die gemeinsame Verantwortlichkeit beschr&auml;nkt
  sich auf die Erhebung der Daten und ihre &Uuml;bermittlung an Meta Platforms Ireland. Die anschlie&szlig;ende
  Datenverarbeitung durch Meta Platforms Ireland ist hiervon nicht erfasst.</p> <h2>8.&nbsp;Social Media</h2> <h3>8.1&nbsp;Social
  Plugins von Facebook (by Meta), Twitter, Instagram (by Meta), Pinterest</h3> <p>Auf unserer Webseite werden Social
  Buttons von sozialen Netzwerken verwendet. Diese sind lediglich als HTML-Links in die Seite eingebunden, so dass beim
  Aufruf unserer Webseite noch keine Verbindung mit den Servern des jeweiligen Anbieters hergestellt wird. Klicken Sie
  auf einen der Buttons, &ouml;ffnet sich die Webseite des jeweiligen sozialen Netzwerks in einem neuen Fenster Ihres
  Browsers Dort k&ouml;nnen Sie z.B. den Like- oder Share-Button bet&auml;tigen.</p> <h3>8.2&nbsp;Unsere Onlinepr&auml;senz
  auf Facebook (by Meta), Twitter, Instagram (by Meta), Youtube, Pinterest</h3> <p>Soweit Sie hierzu Ihre Einwilligung
  nach Art. 6 Abs. 1 S. 1 lit. a DSGVO gegenüber dem jeweiligen Social Media Betreiber erteilt haben, werden bei Besuch
  unserer Onlinepräsenzen auf den in der oben genannten sozialen Medien Ihre Daten für Marktforschungs- und Werbezwecke
  automatisch erhoben und gespeichert, aus denen unter Verwendung von Pseudonymen Nutzungsprofile erstellt werden. Diese
  können verwendet werden, um z.B. Werbeanzeigen innerhalb und außerhalb der Plattformen zu schalten, die mutmaßlich
  Ihren Interessen entsprechen. Hierzu werden im Regelfall Cookies eingesetzt. Die detaillierten Informationen zur
  Verarbeitung und Nutzung der Daten durch den jeweiligen Social Media Betreiber sowie eine Kontaktmöglichkeit und Ihre
  diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre, entnehmen Sie bitte den unten
  verlinkten Datenschutzhinweisen der Anbieter. Sollten Sie diesbezüglich dennoch Hilfe benötigen, können Sie sich an
  uns wenden.</p> <p><a href="http://www.facebook.com/about/privacy/"><strong>Facebook </strong>(by Meta)</a> ist ein
  Angebot der Meta Platforms Ireland Ltd., 4 Grand Canal Square, Dublin 2, Irland („Meta Platforms Ireland“). Die durch
  Meta Platforms Ireland automatisch erhobenen Informationen über Ihre Nutzung unserer Online-Präsenz auf Facebook (by
  Meta) werden in der Regel an einen Server der Meta Platforms, Inc., 1 Hacker Way, Menlo Park, California 94025, USA
  übertragen und dort gespeichert. F&uuml;r die USA liegt kein Angemessenheitsbeschluss der Europ&auml;ischen Kommission
  vor. Unsere Zusammenarbeit mit ihnen st&uuml;tzt sich auf Standarddatenschutzklauseln der Europ&auml;ischen
  Kommission.&nbsp; Die Datenverarbeitung im Rahmen des Besuchs einer Facebook (by Meta) Fanpage erfolgt auf Grundlage
  einer Vereinbarung zwischen gemeinsam Verantwortlichen gemäß Art. 26 DSGVO. Weitere Informationen (Informationen zu
  Insights-Daten) finden Sie <a href="https://www.facebook.com/legal/terms/information_about_page_insights_data"
                                target="_blank">hier</a>.</p>  <p><a
  data-cke-saved-href="https://twitter.com/de/privacy" href="https://twitter.com/de/privacy" target="_blank"><strong>Twitter </strong></a>ist
  ein Angebot der Twitter International Company, One Cumberland Place, Fenian Street, Dublin 2, D02 AX07, Irland
  („Twitter“). Die von Twitter automatisch erhobenen Informationen über Ihre Nutzung unserer Online-Präsenz auf Twitter
  werden in der Regel an einen Server der Twitter, Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA
  übertragen und dort gespeichert. F&uuml;r die USA liegt kein Angemessenheitsbeschluss der Europ&auml;ischen Kommission
  vor. Unsere Zusammenarbeit mit ihnen st&uuml;tzt sich auf Standarddatenschutzklauseln der Europ&auml;ischen
  Kommission.&nbsp;</p> <p><a href="http://help.instagram.com/519522125107875"
                              target="_blank"><strong>Instagram</strong> (by Meta)</a> ist ein Angebot der Meta
  Platforms Ireland Ltd., 4 Grand Canal Square, Dublin 2, Irland („Meta Platforms Ireland“) Die durch Meta Platforms
  Ireland automatisch erhobenen Informationen über Ihre Nutzung unserer Online-Präsenz auf Instagram werden in der Regel
  an einen Server der Meta Platforms, Inc., 1 Hacker Way, Menlo Park, California 94025, USA übertragen und dort
  gespeichert. F&uuml;r die USA liegt kein Angemessenheitsbeschluss der Europ&auml;ischen Kommission vor. Unsere
  Zusammenarbeit mit ihnen st&uuml;tzt sich auf Standarddatenschutzklauseln der Europ&auml;ischen Kommission.&nbsp; Die
  Datenverarbeitung im Rahmen des Besuchs einer Instagram (by Meta) Fanpage erfolgt auf Grundlage einer Vereinbarung
  zwischen gemeinsam Verantwortlichen gemäß Art. 26 DSGVO. Weitere Informationen (Informationen zu Insights-Daten)
  finden Sie <a href="https://www.facebook.com/legal/terms/information_about_page_insights_data"
                target="_blank">hier</a>.</p>  <p><a data-cke-saved-href="https://policies.google.com/privacy?hl=de"
                                                     href="https://policies.google.com/privacy?hl=de"
                                                     target="_blank"><strong>YouTube</strong></a> ist ein Angebot der
  Google Ireland Ltd., Gordon House, Barrow Street, Dublin 4, Irland („Google“). Die von Google automatisch erhobenen
  Informationen über Ihre Nutzung unserer Online-Präsenz auf YouTube werden in der Regel an einen Server der Google LLC,
  1600 Amphitheatre Parkway Mountain View, CA 94043, USA übertragen und dort gespeichert. F&uuml;r die USA liegt kein
  Angemessenheitsbeschluss der Europ&auml;ischen Kommission vor. Unsere Zusammenarbeit mit ihnen st&uuml;tzt sich auf
  Standarddatenschutzklauseln der Europ&auml;ischen Kommission.&nbsp;</p> <p><a
  data-cke-saved-href="https://about.pinterest.com/de/privacy-policy"
  href="https://about.pinterest.com/de/privacy-policy" target="_blank"><strong>Pinterest </strong></a>ist ein Angebot
  der Pinterest Europe Ltd., Palmerston House, 2nd Floor, Fenian Street, Dublin 2, Irland („Pinterest“). Die von
  Pinterest automatisch erhobenen Informationen über Ihre Nutzung unserer Online-Präsenz auf Pinterest werden in der
  Regel an einen Server der Pinterest, Inc., 505 Brannan St., San Francisco, CA 94107, USA übertragen und dort
  gespeichert. F&uuml;r die USA liegt kein Angemessenheitsbeschluss der Europ&auml;ischen Kommission vor. Unsere
  Zusammenarbeit mit ihnen st&uuml;tzt sich auf Standarddatenschutzklauseln der Europ&auml;ischen Kommission.&nbsp;</p>
<h2>9.&nbsp;Kontaktmöglichkeiten und Ihre Rechte </h2> <h3>9.1&nbsp;Ihre Rechte</h3>  <p>Als Betroffener haben Sie
  folgende Rechte:</p>
<ul>
  <li>gemäß Art. 15 DSGVO das Recht, in dem dort bezeichneten Umfang Auskunft über Ihre von uns verarbeiteten
    personenbezogenen Daten zu verlangen;
  </li>
  <li>gemäß Art. 16 DSGVO das Recht, unverzüglich die Berichtigung unrichtiger oder Vervollständigung Ihrer bei uns
    gespeicherten personenbezogenen Daten zu verlangen;
  </li>
  <li>gemäß Art. 17 DSGVO das Recht, die Löschung Ihrer bei uns gespeicherten personenbezogenen Daten zu verlangen,
    soweit nicht die weitere Verarbeitung
    <ul>
      <li>zur Ausübung des Rechts auf freie Meinungsäußerung und Information;</li>
      <li>zur Erfüllung einer rechtlichen Verpflichtung;</li>
      <li>aus Gründen des öffentlichen Interesses oder</li>
      <li>zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen erforderlich ist;</li>
    </ul>
  </li>
  <li>gemäß Art. 18 DSGVO das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen,
    soweit
    <ul>
      <li>die Richtigkeit der Daten von Ihnen bestritten wird;</li>
      <li>die Verarbeitung unrechtmäßig ist, Sie aber deren Löschung ablehnen;</li>
      <li>wir die Daten nicht mehr benötigen, Sie diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von
        Rechtsansprüchen benötigen oder
      </li>
      <li>Sie gemäß Art. 21 DSGVO Widerspruch gegen die Verarbeitung eingelegt haben;</li>
    </ul>
  </li>
  <li>gemäß Art. 20 DSGVO das Recht, Ihre personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem
    strukturierten, gängigen und maschinenlesbaren Format zu erhalten oder die Übermittlung an einen anderen
    Verantwortlichen zu verlangen;
  </li>
  <li>gemäß Art. 77 DSGVO das Recht, sich bei einer Aufsichtsbehörde zu beschweren. In der Regel können Sie sich hierfür
    an die Aufsichtsbehörde Ihres üblichen Aufenthaltsortes oder Arbeitsplatzes oder unseres Unternehmenssitzes wenden.
  </li>
</ul>
<table border="1" cellpadding="1" cellspacing="1" style="width:100%">
  <tbody>
  <tr>
    <td><p><strong>Widerspruchsrecht</strong></p>
      <p>Soweit wir zur Wahrung unserer im Rahmen einer Interessensabwägung überwiegenden berechtigten Interessen
        personenbezogene Daten wie oben erläutert verarbeiten, können Sie dieser Verarbeitung mit Wirkung für die
        Zukunft widersprechen. Erfolgt die Verarbeitung zu Zwecken des Direktmarketings, können Sie dieses Recht
        jederzeit wie oben beschrieben ausüben. Soweit die Verarbeitung zu anderen Zwecken erfolgt, steht Ihnen ein
        Widerspruchsrecht nur bei Vorliegen von Gründen, die sich aus Ihrer besonderen Situation ergeben, zu.</p>
      <p>Nach Ausübung Ihres Widerspruchsrechts werden wir Ihre personenbezogenen Daten nicht weiter zu diesen Zwecken
        verarbeiten, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre
        Interessen, Rechte und Freiheiten überwiegen, oder wenn die Verarbeitung der Geltendmachung, Ausübung oder
        Verteidigung von Rechtsansprüchen dient.</p>
      <p>Dies gilt nicht, wenn die Verarbeitung zu Zwecken des Direktmarketings erfolgt. Dann werden wir Ihre
        personenbezogenen Daten nicht weiter zu diesem Zweck verarbeiten.</p></td>
  </tr>
  </tbody>
</table>  <h3>9.2&nbsp;Kontaktm&ouml;glichkeiten</h3>  <p>Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer
  personenbezogenen Daten, bei Auskünften, Berichtigung, Einschränkung oder Löschung von Daten sowie Widerruf erteilter
  Einwilligungen oder Widerspruch gegen eine bestimmte Datenverwendung wenden Sie sich bitte direkt an uns über die
  Kontaktdaten in unserem Impressum.</p>
