<h1>Kleidung</h1>
<div class="grid">
  <div class="grid-item">
    <h2>T-Shirts</h2>
    <div class="item product-blue" (click)="showDetails(1)" *ngIf="div!==1">
      <img class="img" src="assets/Creator_skyBlue_shadow.png" alt="T-Shirt Sky Blue">
    </div>
    <div class="item product-blue" id="1" *ngIf="div===1" (click)="showDetails(-1)">
      <ul class="item-shows-text">
        <li>100% gekämmte ringgesponnene Bio-Baumwolle</li>
        <li>nachhaltig hergestellt</li>
        <li>mehr als 50 verschiedene Farben verfügbar</li>
        <li>Größen: XXS-5XL</li>
        <li>hochwertiges Erscheinungsbild - perfekt für Ihr Unternehmen</li>
        <li>Preise auf Anfrage an: info@style-hub.de</li>
      </ul>
    </div>
  </div>
  <div class="grid-item">
    <h2>Hoodies</h2>
    <div class="item img-bottom product-green" (click)="showDetails(2)" *ngIf="div!==2">
      <img class="img" src="assets/Cruiser_mid_heather_green_shadow.png" alt="Hoodie Mid Heather Green">
    </div>
    <div class="item product-green" id="2" *ngIf="div===2" (click)="showDetails(-1)">
      <ul class="item-shows-text">
        <li>85% gekämmte ringgesponnene Bio-Baumwolle, 15% recyceltes Polyester</li>
        <li>nachhaltig hergestellt</li>
        <li>mehr als 30 verschiedene Farben verfügbar</li>
        <li>Größen: XXS-5XL</li>
        <li>hochwertiges Erscheinungsbild - perfekt für Ihr Unternehmen</li>
        <li>Preise auf Anfrage an: info@style-hub.de</li>
      </ul>
    </div>
  </div>
  <div class="grid-item">
    <h2>Polos</h2>
    <div class="item img-bottom product-yellow" (click)="showDetails(3)" *ngIf="div!==3">
      <img class="img" src="assets/Prepster_Jojoba_shadow.png" alt="Polo Jojoba">
    </div>
    <div class="item product-yellow" id="3" *ngIf="div===3" (click)="showDetails(-1)">
      <ul class="item-shows-text">
        <li>100% gekämmte ringgesponnene Bio-Baumwolle</li>
        <li>nachhaltig hergestellt</li>
        <li>mehr als 20 verschiedene Farben verfügbar</li>
        <li>Größen: XXS-5XL</li>
        <li>hochwertiges Erscheinungsbild - perfekt für Ihr Unternehmen</li>
        <li>Preise auf Anfrage an: info@style-hub.de</li>
      </ul>
    </div>
  </div>
  <div class="grid-item">
    <h2>Sweatshirts</h2>
    <div class="item product-red" (click)="showDetails(4)" *ngIf="div!==4">
      <img class="img threeD-img" src="assets/Changer_Hibiscus_Rose_Shadow.png" alt="Changer Hibiscus">
    </div>
    <div class="item product-red" id="4" *ngIf="div===4" (click)="showDetails(-1)">
      <ul class="item-shows-text">
        <li>85% gekämmte ringgesponnene Bio-Baumwolle, 15% recyceltes Polyester</li>
        <li>nachhaltig hergestellt</li>
        <li>mehr als 30 verschiedene Farben verfügbar</li>
        <li>Größen: XXS-5XL</li>
        <li>hochwertiges Erscheinungsbild - perfekt für Ihr Unternehmen</li>
        <li>Preise auf Anfrage an: info@style-hub.de</li>
      </ul>
    </div>
  </div>

</div>

<h1 class="refinement">Veredelung</h1>
<div class="grid">
  <div class="grid-item">
    <h2>Digitaldirektdruck</h2>
    <img class="img" src="assets/DTG-Veredelung.jpg" alt="DTG Veredelung" width="50%" height="75%">
  </div>
  <div class="grid-item">
    <h2>Stick</h2>
    <img class="img" src="assets/Stick-Veredelung.jpg" alt="Stick Veredelung" width="50%" height="75%">
  </div>
</div>
