<h1>Kleidung</h1>
<div class="grid">
  <div class="grid-item">
    <h2>T-Shirts</h2>
    <div class="item product-blue" (click)="showDetails(1)" *ngIf="div!==1">
      <img class="img" src="assets/Creator_Sky blue_Studio_Front_Detail_5.jpg" alt="T-Shirt Sky Blue" width="50%"
           height="50%">
    </div>
    <div class="item product-blue" id="1" *ngIf="div===1" (click)="showDetails(-1)">
      <ul>
        <li>100% gekämmte ringgesponnene Bio-Baumwolle</li>
        <li>nachhaltig hergestellt</li>
        <li>mehr als 50 verschiedene Farben verfügbar</li>
        <li>Größen: XXS-5XL</li>
        <li>hochwertiges Erscheinungsbild - perfekt für Ihr Unternehmen</li>
        <li>Preise auf Anfrage an: info@style-hub.de</li>
      </ul>
    </div>
  </div>
  <div class="grid-item">
    <h2>Hoodies</h2>
    <div class="item product-green" (click)="showDetails(2)" *ngIf="div!==2">
      <img class="img" src="assets/Cruiser_Mid%20Heather%20Green_Studio_Front_Main_0.jpg" alt="Hoodie Mid Heather Green"
           width="50%" height="50%">
    </div>
    <div class="item product-green" id="2" *ngIf="div===2" (click)="showDetails(-1)">
      <ul>
        <li>85% gekämmte ringgesponnene Bio-Baumwolle, 15% recyceltes Polyester</li>
        <li>nachhaltig hergestellt</li>
        <li>mehr als 30 verschiedene Farben verfügbar</li>
        <li>Größen: XXS-5XL</li>
        <li>hochwertiges Erscheinungsbild - perfekt für Ihr Unternehmen</li>
        <li>Preise auf Anfrage an: info@style-hub.de</li>
      </ul>
    </div>
  </div>
  <div class="grid-item">
    <h2>Polos</h2>
    <div class="item product-yellow" (click)="showDetails(3)" *ngIf="div!==3">
      <img class="img" src="assets/Prepster_Jojoba_Studio_Front_Main_5.jpg" alt="Polo Jojoba" width="50%" height="50%">
    </div>
    <div class="item product-yellow" id="3" *ngIf="div===3" (click)="showDetails(-1)">
      <ul>
        <li>100% gekämmte ringgesponnene Bio-Baumwolle</li>
        <li>nachhaltig hergestellt</li>
        <li>mehr als 20 verschiedene Farben verfügbar</li>
        <li>Größen: XXS-5XL</li>
        <li>hochwertiges Erscheinungsbild - perfekt für Ihr Unternehmen</li>
        <li>Preise auf Anfrage an: info@style-hub.de</li>
      </ul>
    </div>
  </div>
  <div class="grid-item">
    <h2>Sweatshirts</h2>
    <div class="item product-red" (click)="showDetails(4)" *ngIf="div!==4">
      <img class="img" src="assets/Changer_Hibiscus%20Rose_Studio_Front_Main_0.jpg" alt="Changer Hibiscus" width="50%"
           height="50%">
    </div>
    <div class="item product-red" id="4" *ngIf="div===4" (click)="showDetails(-1)">
      <ul>
        <li>85% gekämmte ringgesponnene Bio-Baumwolle, 15% recyceltes Polyester</li>
        <li>nachhaltig hergestellt</li>
        <li>mehr als 30 verschiedene Farben verfügbar</li>
        <li>Größen: XXS-5XL</li>
        <li>hochwertiges Erscheinungsbild - perfekt für Ihr Unternehmen</li>
        <li>Preise auf Anfrage an: info@style-hub.de</li>
      </ul>
    </div>
  </div>

</div>

<h1 class="refinement">Veredelung</h1>
<div class="grid">
  <div class="grid-item">
    <h2>Digitaldirektdruck</h2>
    <img class="img" src="assets/DTG-Veredelung.jpg" alt="DTG Veredelung" width="50%" height="75%">
  </div>
  <div class="grid-item">
    <h2>Stick</h2>
    <img class="img" src="assets/Stick-Veredelung.jpg" alt="Stick Veredelung" width="50%" height="75%">
  </div>
</div>
