.grid {
  display: grid;
  justify-content: space-evenly;
  /*grid-template-columns: 50% 50%;*/ /*Make the grid smaller than the container*/
  gap: 3rem;
  text-align: left;
  margin-inline: 3%;
}

@media (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-blue {
  background-color: var(--color-accent-blue);
}

.product-green {
  background-color: var(--color-accent-green);
}

.product-yellow {
  background-color: var(--color-accent-yellow);
}

.product-red {
  background-color: var(--color-accent-red);
}

h1 {
  text-align: center;
}

.refinement {
  margin-top: 5rem;
}

h2 {
  text-align: center;
}

.item {
  padding: 5%;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  transform: translate(-50%, -50%);
}
