.grid {
  display: grid;
  gap: 3rem;
  text-align: left ;
  margin-inline: 3%;
}

.item {
  cursor: pointer;
  transition: .3s;
  height: 82.4%;
  padding-top: 5%;
  font-size: 2rem;
  line-height: 1.5;
}

.item-shows-text {
  margin-inline: 2rem;
}


@media (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product-blue {
  background-color: var(--color-accent-blue);
}

.product-blue:hover {
  background-color: var(--color-accent-blue-hover);
}


.product-green {
  background-color: var(--color-accent-green);
}

.product-green:hover {
  background-color: var(--color-accent-green-hover);
}


.product-yellow {
  background-color: var(--color-accent-yellow);
}

.product-yellow:hover {
  background-color: var(--color-accent-yellow-hover);
}


.product-red {
  background-color: var(--color-accent-red);
}

.product-red:hover {
  background-color: var(--color-accent-red-hover);
}


.threeD-img {
  transform: translateY(10%);
}

h1 {
  text-align: center;
}

.refinement {
  margin-top: 5rem;
}

h2 {
  text-align: center;
}


.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  transform: translate(-50%, -50%);
}
