.button-primary {
  background-color: white;
  color: black;
}

.button-primary:hover {
  background-color: var(--color-white-hover);
}

.button-secondary {
  background-color: var(--color-primary);
  color: black;
}

.button-secondary:hover {
  background-color: var(--color-primary-hover);
}

.icon-primary {
  color: black;
}


.icon-secondary {
  color: var(--color-primary);
}

.button-inner {
  padding: 1em 2em;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: .3s;
}

.icon {
  margin-left: 1rem;
  transition: .3s;
}


.button-outline-primary {
  transition: .3s;
  display: flex;
  align-items: center;
  outline: solid 2px white;
  outline-offset: 1em;
  background-color: transparent;
}

.button-outline-primary:hover {
  outline: solid 2px var(--color-white-hover);
}

.button-outline-primary:hover > fa-icon {
  color: var(--color-black-hover);
}

.button-outline-secondary {
  transition: .3s;
  display: flex;
  align-items: center;
  outline: solid 2px var(--color-primary);
  outline-offset: 1em;
  background-color: transparent;
}

.button-outline-secondary:hover {
  outline: solid 2px var(--color-primary-hover);
}

.button-outline-secondary:hover > fa-icon{
  color: var(--color-primary-hover);
}
