/* You can add global styles to this file, and also import other style files */
:root {
  font-family: Raleway, sans-serif;
  --color-primary: rgb(169, 210, 176);
}

body{
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
