/* You can add global styles to this file, and also import other style files */
:root {
  font-family: Raleway, sans-serif;
  --color-primary: #a9d2a9;
  --color-primary-hover: #97c097;
  --color-white: #ffffff;
  --color-white-hover: #eaeaea;
  --color-black: #000000;
  --color-black-hover: #292929;
  --color-accent-blue: #afd9ff;
  --color-accent-blue-hover: #cfebff;
  --color-accent-green: #a9d2a9;
  --color-accent-green-hover: #c9f2c9;
  --color-accent-yellow: #f0f33e;
  --color-accent-yellow-hover: #ffff8e;
  --color-accent-red: #fe9c9c;
  --color-accent-red-hover: #fecccc;

}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

button {
  border: none;
  background-color: transparent;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
