<div class="grid">

  <div class="above-fold">
    <img class="image" src="assets/Bild.png" width="550" height="450" alt="Products"/>
    <app-button routerLink="/products-component" class="button-placement-first" [caption]="'Jetzt ansehen!'" [style]="'primary'"></app-button>
  </div>

  <div class="second-fold">
    <div class="second-fold-bold-text">
    So individuell,<br>wie<br>Deine<br>Mitar-<br>beiter.
    </div>
    <div class="second-fold-fancy-outline">
      Style Hub designt, bedruckt und liefert nachhaltige Kleidung für Deine Mitarbeiter.<br><br>
      Unsere Klamotten sind:
      <ul>
        <li>individuell</li>
        <li>nachhaltig</li>
        <li>hochwertig</li>
      </ul>
    </div>
  </div>
  <app-button routerLink="/products-component" class="button-placement-second" [caption]="'Check it out now!'" [iconDefinition]="faArrow" [style]="'secondary'"></app-button>
</div>

<div class="third">
<div class="third-fold">
  <img width="35%" height="35%" src="assets/Prepster_Jojoba_Studio_Front_Main_5.jpg" alt="Nachhaltigleit">
  <div class="second-fold-bold-text">Nicht<br>nur<br>schön,<br>auch<br>nachhaltig.</div>
</div>
<app-button routerLink="/products-component" class="button-placement-third" [caption]="'Check it out now!'" [iconDefinition]="faArrow" [style]="'primary'"></app-button>
</div>
