.grid {
  display: grid;
}

.above-fold {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  background-color: var(--color-primary);
  width: 100%;
  height: max(100vh - 78px - 2rem, 50rem);
}

.button-placement-first {
  grid-column: 2;
  justify-self: center;
  margin-top: 10rem;
}

.image {
  grid-column: 2;
  place-self: center;
}

.second-fold-bold-text {
  font-size: 8rem;
}

.second-fold {
  display: grid;
  margin-inline: 3%;
}

@media (min-width: 1563px) {
  .second-fold {
    grid-template-columns: 25% 75%;
  }
  .second-fold-fancy-outline {
    margin-right: 3rem;
  }
}

@media (max-width: 1749px) {
  .second-fold-fancy-outline {
    margin-top: 5rem;
    margin-inline: 3rem;
  }
}

.second-fold-fancy-outline {
  align-self: self-end;
  font-size: 3rem;
  padding: 2rem 2rem;
  box-shadow:
    0 0 0 10px #ee6352,
    0 0 0 20px #d45379,
    0 0 0 30px #a4558f,
    0 0 0 40px #6d588e,
    0 0 0 50px #405378;

  border-radius: .2em;
}

.button-placement-second {
  place-self: self-end;
  margin-inline: 3rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.third-fold {
  display: grid;
  gap: 5rem;
  place-content: center;
  background-color: var(--color-primary);
}

.third-fold > * {
  flex-basis: 100%;
}

.button-placement-third {
  grid-column: 2;
  place-self: self-end;
  margin-bottom: 3rem;
  margin-right: 3rem;
}

@media (max-width: 1322px) {
  .third-fold {
    grid-template-columns: repeat(2, 1fr);
  }

  .third-fold > *:nth-child(2) {
    margin-inline: 5rem;
  }
}
